<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/bootstrap-theme.min.css">
    <title><%= title %></title>
</head>
<body>
<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li><a href="/">index</a> </li>
        <li><a href="/dilpreet">Dilpreet</a> </li>
        <li><a href="/Harbhajan">Harbhajan</a> </li>
        <li><a href="/Navreet">Navreet</a> </li>
        <li><a href="/Palwinder">Palwinder</a> </li>
        <li><a href="/Sukhjit">Sukhjit</a> </li>
        <li><a href="/Swaran">Swaran</a> </li>
    </ul>
</nav>